<h2>Add a Track</h2>

<form action="/tracks" method="post">
  <label for="track[album_id]">Album Name</label>
  <select name="track[album_id]" id="album_id">
    <% Album.all.each do |album| %>
    <option value = "<%= album.id %>"><%= album.name %></option>
    <% end %>
  </select>
  <br><br>

  <label for="track[name]">Name</label>
  <input type="text" name="track[name]">
  <br><br>

  <label for="track[category]">Track Type</label>

  <input type="radio" name="track[category]" id="regular_track" value="regular">
  <label for="regular_track">Regular</label>

  <input type="radio" name="track[category]" id="bonus_track" value="bonus">
  <label for="bonus_track">Bonus</label>
  <br><br>

  <label for="track[lyrics]">Lyrics</label>
  <textarea name="track[lyrics]" rows="8" cols="40"></textarea>
  <br><br>
  <input type="submit" name="submit" value="Submit">
</form>
